.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }

  table {
    width: 100%;
  }

  td::ng-deep{
    font-size:  12px !important;
  }

  .w10::ng-deep {
    max-width: 10px !important;
    padding: 0px 10px;
  }